<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista Proyectos</h1>
    <a href="{% url 'crearProyecto' %}">Crear nuevo proyecto</a>
    <ul>
        {% for proyecto in proyectos %}
            <li>
                <h2>{{ proyecto.titulo }}</h2>
                <p>{{ proyecto.descripcion }}</p>
                <p>Fecha: {{ proyecto.fecha }}</p>
                <a href="{% url 'editarProyecto' proyecto.pk %}">Editar</a>
                <a href="{% url 'eliminarProyecto' proyecto.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>